[Unit]
Description=App Service


[Service]
User=chrisburd91
WorkingDirectory=/home/chrisburd91/flask-app/flask-blog
EnvironmentFile=/home/chrisburd91/flask-app/flask-blog/flask.env
ExecStart=/home/chrisburd91/flask-app/flask-blog/venv/bin/gunicorn --workers=4 --bind=0.0.0.0:5000 app:app



[Install]
WantedBy=multi-user.target
